.parent-wrapper{
    border: 5px solid #00a1e0;
    padding: 30px;
    background:#00a1e0;
    border-radius: 25px;
}
.btn-left{
    border: 5px solid wheat;
    padding: 14px 28px;
    color:white;
    background:coral;
    width: 150px;
}
.btn-right{
    border: 5px solid wheat;
    padding: 14px 28px;
    position: absolute;
    right: 35px;
    color:white;
    background:coral;
    width: 150px;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .list-group-item-action {
    color: #495057;
    text-align: inherit;
    text-decoration: none;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .header, .footer{
      background: #295646;
      color:white;
  }