.Parent-wrapper{
    border: 5px solid blue;
    margin: 25px 50px 75px 100px;
    background-color: rgba(212, 0, 255, 0.644);
    border-radius: 25px;
}
.child-wrapper{
    border: 5px ;
    margin: 10px 200px ;
    text-align: center;
    font-size: 25px;
    color: black;
}

.btn{
    
    border: 5px solid green;
    position: relative;
    margin: 10px 500px;
    padding: 10px;
    font-size: 20px;
    width: 150px;
}