.parent-wrapper{
    border: 5px solid rgba(0, 0, 255, 0.582);
    margin: 25px 50px 75px 100px;
    background-color: rgb(211, 134, 230);
}
.btn{
    width: 200px;
    margin: 5px;
    position: relative;
    left: 45%;
    border: 5px solid #73AD21;
    padding: 10px;
}

head {
    
    text-transform: uppercase;
     color: white;
     font-size: medium;

  }
  .child-wrapper{
    border: 5px solid red;
    margin:  50px 200px;
    padding: 50px;
    
}
.input-wrapper{
    border: 1px solid red;
    margin:  2px;
    padding: 2px;
    width: 50%;
    border-radius: 5px;
    height: 30px;
}
.text-wrapper{
    color: black;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    border:null;
    margin: null;
    
    
}